/* General */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #1C222C;
    color: #f0f0f0;
}
html,
body,
.greeting-wrap {
    height: 100%;
}
header {
    display: flex;
}
.main {
    margin: 5rem 0 15rem;
    display: none;
}
.no-padding {
    padding: 0;
}
.btn-default {
    width: 70%;
    background-color: royalblue;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5em;
    border: none;
}
.error {
    color: red;
}

/* Hello page */
.greeting-wrap {
    display: flex;
    align-items: center;
}
.greeting-wrap p {
    font-size: 1.5em;
}
.form,
.hello {
    text-align: center;
}
.guess {
    display: none;
    font-size: 2em;
    text-align: center;
}
.hello {
    font-size: 5em;
    margin: 0 0 5rem;
}
.form input {
    display: block;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4rem;
    font-size: 10em;
    width: 30rem;
    text-align: center;
    margin: 5rem auto;
}
.form input:focus {
    outline: 0;
}
.form .btn-default {
    width: 30rem;
    height: 10rem;
    font-size: 5em;
    line-height: 1;
    text-transform: uppercase;
}

/* Cards */
.poke-card-wrap {
    vertical-align: top;
    margin-bottom: 2rem;
}
.poke-card {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    padding: 1rem;
    transform:  translateY(0rem);
    transition: transform ease-in .15s ;
    background-color: #f0f0f0;
    color: #333;
}
.poke-card:hover {
    cursor: pointer;
    transform:  translateY(-.5rem);
}
.poke-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
}
.poke-img-wrap img {
    max-width: 100%;
    max-height: 100%;
}
.name {
    font-size: 1.7em;
}
.types {
    text-align: left;
}

/* Filters */
.fade-out {
    display: none;
}
.fade-in {
    display: block;
}
.filter-delete:hover {
    cursor: pointer;
}
.filter-helpers {
    display: none;
    text-align: center;
    margin-bottom: 2rem;
}
.filter-helpers h6 {
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.3em;
    vertical-align: middle;
}

/* Filter items */
.type,
.filter-item {
    display: inline-block;
    padding: .2rem 1rem;
    background-color: red;
    border-radius: 0.5rem;
    text-transform: capitalize;
    vertical-align: middle;
}
.type-normal {
    background-color: #a4acaf;
    color: #fff;
}
.type-fire {
    background-color: #fd7d24;
    color: #fff;
}
.type-water {
    background-color: #4592c4;
    color: #fff;
}
.type-bug {
    background-color: #729f3f;
    color: #fff;
}
.type-flying {
    background-color: #5bdaff;
    color: #333;
}
.type-poison {
    background-color: #b97fc9;
    color: #fff;
}
.type-ground {
    background-color: #ab9842;
    color: #333;
}
.type-electric {
    background-color: #eed535;
    color: #333;
}
.type-fairy {
    background-color: #fdb9e9;
    color: #333;
}
.type-grass {
    background-color: #9bcc50;
    color: #333;
}
.type-fighting {
    background-color: #d56723;
    color: #fff;
}
.type-psychic {
    background-color: #f366b9;
    color: #fff;
}
.type-rock {
    background-color: #a38c21;
    color: #fff;
}
.type-steel {
    background-color: #9eb7b8;
    color: #333;
}
.type-ghost {
    background-color: #7b62a3;
    color: #fff;
}
.type-ice {
    background-color: #51c4e7;
    color: #333;
}
.type-dark {
    background-color: #707070;
    color: #fff;
}
.type-dragon {
    background-color: #f16e57;
    color: #fff;
}

/*Detail card */
.detail-card {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    transition: top ease-in .1s;
}
.detail-table {
    margin-bottom: 0;
}
.detail-table td:first-child{
    text-align: left;
    width: 40%;
}
.detail-type {
    text-transform: capitalize;
}
.detail-type:after {
    content: ', ';
}
.detail-type:last-child:after {
    content: '';
}

/* Filters toggle */
.toggle-switch {
    display: none;
    vertical-align: middle;
}
.switch .slide-button,
.toggle p span {
    display: none;
}
.toggle {
    position: relative;
    padding: 0;
    margin: 0;
}
.toggle label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
}
.toggle input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.toggle p {
    position: absolute;
    left: -10rem;
    width: 100%;
    margin: 0;
    padding-right: 10rem;
    text-align: left;
    font-size: .9em;
}
.toggle p span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 10rem;
    text-align: center;
}
.toggle p span:last-child {
    left: 50%;
}
.toggle .slide-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
}
.toggle {
    display: inline-block;
    height: 2.5rem;
}
.toggle .slide-button {
    display: block;
    transition: all 0.3s ease-out;
}
.toggle label,
.toggle p {
    line-height: 2.3rem;
    vertical-align: middle;
}
.toggle input:checked ~ .slide-button {
    right: 50%;
}
.switch {
    background-color: #D6D6D6;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: .1rem .1rem .1rem #191b1e;
    border-radius: .6rem;
    vertical-align: middle;
    width: 10rem;
}
.switch input:checked + label {
    color: #333;
}
.switch .slide-button {
    background-color: #2aa0c8;
    border-radius: .5rem;
}
.switch p {
    color: #333;
    text-shadow: none;
}
.switch span {
    color: #fff;
}

/* Load more && loader */
.load-more-wrap {
    text-align: center;
}
.poke-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5rem;
    width: 10rem;
    height: 10rem;
    box-shadow: .1rem .1rem .7rem 0 rgba(0, 0, 0, .2);
    border-radius: 100%;
    background: linear-gradient(to bottom, #ef4036 0%, #ef4036 45%, #333 46%, #333 54%, #fff 55%, #fff 100%);
    animation: spin 1.5s .5s infinite;
}
.poke-loader:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 .1rem #333, 0 0 0 .3rem #fff, 0 0 0 .9rem #333;
    animation: twinkle 1.5s 1s infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes twinkle {
    0% {
        background-color: #fff;
    }
    10% {
        background-color: #f79a94;
    }
    20% {
        background-color: #fff;
    }
    30% {
        background-color: #f79a94;
    }
    40% {
        background-color: #fff;
    }
    50% {
        background-color: #f79a94;
    }
    60% {
        background-color: #fff;
    }
    100% {
        background-color: #fff;
    }
}

@media (max-width: 54.857em) {
    h1 {
        font-size: 1.5em;
    }
    .btn-default {
        width: 100%;
    }
    .poke-card {
        width: 100%;
    }
    .poke-card:hover {
        transform:  translateY(0);
    }
    .poke-img-wrap {
        height: 8rem;
    }
    .name {
        font-size: 1.2em;
    }
    .hello {
        font-size: 3.5em;
    }
    .greeting-wrap p {
        font-size: 1.2em;
    }
    .form input {
        font-size: 8em;
        width: 26rem;
        border-radius: 2rem;
    }
    .form .btn-default {
        height: 8rem;
        width: 26rem;
        font-size: 3.5em;
    }

}
@media (max-width: 30.357em) {
    .btn-default {
        font-size: 1.2em;
    }
    .poke-img-wrap {
        height: 6rem;
    }
    .name {
        font-size: 1em;
    }
    .hello {
        font-size: 2em;
    }
    .greeting-wrap p {
        font-size: 1em;
    }
    .form input {
        font-size: 4em;
        width: 15rem;
        border-radius: 1rem;
    }
    .form .btn-default {
        height: 4rem;
        width: 15rem;
        font-size: 2em;
    }
    .detail-card {
        padding-right: 2rem;
    }
    .detail-name {
        font-size: 1.5em;
    }
    .detail-table {
        font-size: .9em;
    }
    .type, .filter-item {
        font-size: .8em;
    }
    .detail-table td:first-child {
        width: 50%;
    }
}

@media (max-height: 56.250em) {
    h1 {
        font-size: 1.5em;
    }
    .btn-default {
        width: 100%;
    }
    .poke-card {
        width: 100%;
    }
    .poke-card:hover {
        transform:  translateY(0);
    }
    .poke-img-wrap {
        height: 8rem;
    }
    .name {
        font-size: 1.2em;
    }
    .hello {
        font-size: 3.5em;
    }
    .greeting-wrap p {
        font-size: 1.2em;
    }
    .form input {
        font-size: 8em;
        width: 26rem;
        border-radius: 2rem;
    }
    .form .btn-default {
        height: 8rem;
        width: 26rem;
        font-size: 3.5em;
    }
}